body {
	margin: 0;	
	padding: 1vh;
	background-color: #E6E6E6;
}

#webTitle {
	text-align: center;
}

nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;	
	align-content: center;

	list-style-type: none;
	margin: 0;
	overflow: hidden;
	border: none;
	background-color: #E6E6E6;
	height: 5vh;
	color: #070340;
}

nav a{
	color: #112173;
	text-decoration: none;
}
